.hobbyImage {
  height: 200px;
  width: 350px;
  object-fit: scale-down;
}

.hobbyMain {
  background-color: rgba(226, 226, 226, 0.377);
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  margin-left: -20px;
  margin-right: -20px;
}

.hobbyDisplay {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  flex-wrap: wrap;
}

.hobbyDescription {
  width: 350px;
  margin-top: 30px;
  font-size: 14px;
  
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.editButton {
  margin-top: 30px;
  width: 80px;
  height: 35px;
  border: none;
  border-radius: 15px;
  background-color: #007BFF;
}

.editButton:hover {
  background-color: black;
  color: white;
}

.hobbyMap {
  position: relative;

}

.hobbyTitle {
  font: 600;
  font-size: 24px;
  text-align: center;
}

.createHobbyButton {
  width: 80px;
  height: 35px;
  border: none;
  border-radius: 15px;
  background-color: #007BFF;
  margin-left: 15px;
}

.createHobbyContainer {
  display: flex;
  height: 35px;
  margin-top: 60px;
  justify-content: center;
}

.mapHobbyName {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
}


