#header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100vw;
  font-size: 36px;

}

#hobbyContainer {
  height: 50vh;
  width: 80vw;
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

.homeMain {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.chat {
  margin-top: 100px;
}

.teaseButton {
  margin-top: 30px;
  width: 90px;
  height: 35px;
  border: none;
  border-radius: 15px;
  background-color: #007BFF;
}

.innerHobbyContainer {
  display: flex;
  flex-direction: column;

}

.createHobbyButton:hover, .teaseButton:hover {
  background-color: black;
  color: white;
}

.subtitle {
  margin-top: 50px;
  font-size: 20px;
}